.sidebarMenu {
  position: relative;

  &__signIn {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.contentContainer {
  padding-top: 3.2rem;
  padding-left: 7.5rem;
}