.signIn__container {
  position: absolute !important;
  padding: 1.6rem !important;
  bottom: 1.6rem;
  left: 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
}